# Dependencies
node_modules/
.pnpm-store/

# Next.js
apps/api/.next/
apps/api/out/
apps/api/build/

# Expo
apps/mobile/.expo/
apps/mobile/dist/
apps/mobile/web-build/
apps/mobile/ios/
apps/mobile/android/

# Env
.env
.env.local
.env.*.local

# Prisma
apps/api/prisma/*.db

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# Editor
.vscode/
.idea/
.DS_Store

# TypeScript
*.tsbuildinfo
